.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 0 200px auto;
  gap: 17px 21px;
}

.element {
  width: 100%;
  max-width: 282px;
}

.element__image {
  height: 282px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.element__info {
  display: grid;
  grid-template-columns: 1fr auto;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  width: 100%;
  position: relative;
}

.element__title {
  border-radius: 4px;
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  padding: 13px 40px;
  margin: 0 auto 0 1px;
  max-width: 282px;
  font-weight: 900;
  font-size: 24px;
}

.element__heart {
  color: rgba(0, 0, 0, 1);
  width: 21px;
  height: 19px;
  position: absolute;
  transform: translateY(40%);
  bottom: 50%;
  right: 10px;
}

.element__heart:hover {
  opacity: 0.6;
}

.element__heart.active {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .elements {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
    padding: 0;
  }

  .element {
    margin: auto 30px;
  }
}

@media screen and (max-width: 320px) {
  .elements {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
}
